@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #448cd2;
  --dark-primary-color: rgb(45, 93, 140);
  --light-primary-color: rgb(228, 240, 252);
  --secondary-color: #242424;
  --white-color: #fff;
  --black-color: #000;
}

* {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

/* #hero-bg {
  background: url("/public/static/img/home/hero-bg-effect.png");
} */

#cta-bg {
  background: url("/public/static/img/home/ctn-bg.png");
}

#login-bg {
  background: url("/public/static/img/home/login-img.png");
}

#leader-bg-effect {
  background: url("/public/static/img/home/leader-bg-effect.svg");
  background-position-x: 105% !important;
  background-position-y: -70px !important;
}

@media screen and (max-width: 1280px) {
  #leader-bg-effect {
    background: unset;
  }
}

/* Common Classes */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.heading {
  @apply mt-3.5 max-w-4xl mx-auto xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-bold text-[var(--dark-primary-color)] uppercase;
}

.badge {
  @apply text-base font-bold text-[var(--dark-primary-color)] uppercase;
}

.sub-heading {
  @apply md:text-4xl sm:text-3xl text-[26px] text-[var(--secondary-color)] font-light max-w-md mt-4 capitalize;
}

.sub-heading-highlight {
  @apply font-medium text-[var(--dark-primary-color)];
}

.feature-list {
  @apply flex items-start gap-2.5 sm:text-lg text-[var(--secondary-color)];
}

.label-active:has(input:checked) {
  background: #e4f0fc;
  border: 1px solid #448cd233;
  box-shadow: 4px 4px 4px 0px #448cd21a;
}

.dashboard-menu [aria-expanded="true"] .dashboard-icon {
  rotate: 180deg !important;
}

.main-wrapper.active .dashboard-menu ul span {
  display: none;
}

.main-wrapper.active .custom-inset {
  transform: translate(100px, -100px) !important;
}

.main-wrapper.active .restore-sidebar {
  rotate: 180deg;
}

.main-wrapper.active .manager-popup h4,
.main-wrapper.active .manager-popup h5 {
  display: none;
}

.main-wrapper.active img.logo {
  width: 100%;
}

.main-wrapper.active .sidebar {
  width: 95px;
}

.main-wrapper.active .right-content {
  margin-left: 120px;
}

.main-wrapper.active #sub-menu {
  padding-left: 0;
}

.main-wrapper.active a span,
.main-wrapper.active span span,
.main-wrapper.active .ic-hidden {
  display: none;
}

.main-wrapper.active .left-content {
  max-width: 119px;
  max-width: 110;
}

/* .main-wrapper.active .right-content {
  margin-left: 145px;
} */

@media screen and (max-width: 768px) {
  .main-wrapper.active .right-content {
    margin-left: 0;
  }
}

.main-wrapper.active .manager-popup {
  padding: 6px;
  border-radius: 6px;
}

.highcharts-credits {
  display: none !important;
}

.text-lg-progress .CircularProgressbar-text {
  font-size: 24px !important;
}

#not-found-bg {
  background: url("../public/static/img/not-found-bg.svg");
}

.selected-answer:has(input:checked) {
  background: linear-gradient(to top, #1a3652, #448cd2);
  border: 0;
  box-shadow: 4px 4px 4px 0px #448cd21a;
  color: #fff;
}

.bg-svg svg {
  width: 100%;
  height: auto;
  display: block;
  transform: scale(1.1);
}
.bg-svg #smoothPath {
  fill: none;
  stroke-width: 90;
  stroke-linecap: round;

  /* Path drawing */
  stroke-dasharray: 6200;
  stroke-dashoffset: 6200;

  /* Smooth premium animation */
  animation:
    drawLine 6s cubic-bezier(0.4, 0, 0.2, 1) forwards,
    fadeIn 1.2s ease-out forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .bg-svg svg {
    transform: scale(1.6);
  }
}

button,
a {
  @apply outline-none cursor-pointer;
}

.custom-inset {
  inset: 0 0 auto auto !important;
}
/* a.active {
  @apply bg-[--light-primary-color] text-[var(--primary-color)];
} */
