@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #448cd2;
  --dark-primary-color: #2d5d8c;
  --light-primary-color: #e4f0fc;
  --secondary-color: #242424;
  --white-color: #fff;
  --black-color: #000;
}

* {
  font-family: "Quicksand", sans-serif;
}

#cta-bg {
  background-image: url("/public/static/img/home/ctn-bg.png");
}

#hero-bg {
  background-image: url("/public/static/img/home/hero-bg-effect.png");
}
